body {
    margin: 0px;
}
div {
    border: 2px solid black;
    height: 250px;
    width:250px;
    background-color:rgb(255, 77, 0);
    transition: width 5s height 8s transform 10s;
    
    
}
div:hover {
    height:400px;
    width:400px;
    transform: rotate(225deg);
}